[Desktop Entry]
Version=1.0
Type=Application
Name=DNS Changer
Name[tr]=DNS Değiştirici
GenericName=DNS Changer
GenericName[tr]=DNS Değiştirici
Comment=Change and manage DNS settings
Comment[tr]=DNS ayarlarını değiştir ve yönet
Exec=dns-changer %u
Icon=dns-changer
Terminal=false
Categories=Qt;LupuS;System;Network;
Keywords=dns;changer;internet;network
StartupNotify=true
StartupWMClass=dns-changer
